<div class="content">
    <div  class="container">
        <div *ngIf="points && points.length > 0">

            <div alt="Mapa" class="map-image" class="map-container" (click)="onMapClick($event)">

                <div *ngFor="let point of points" [ngStyle]="{'top': point.y + 'px', 'left': point.x + 'px'}"  
                [ngClass]="point.status ? 'bi bi-geo-alt-fill ' + point.status : 'defaultPoint'"
                (mouseover)="showLocationInfo(point.id)" (mouseleave)="hideLocationInfo(point.id)"
                [routerLink]="['/ver_avistamiento', point.id]">
                <div [id]="point.id" class="location-info" [hidden]="!point.isVisible">
                    <div style="background-color: white; padding: 10px;">
                        <h4>{{ point.title }}</h4>
                        <h4>{{ point.description }}</h4>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>