.content {
    position: fixed;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;height: 500px;
    background-color: white;
    text-align:center;
  }

.img{
    width: 250px;
    height: 250px;
    left: 50%;
    display:inline-block;
}

.popupBody{
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 14px;
}