<div class="content">
    <a routerLinkActive="active" class="img" rel="noopener">
        <img class="img" src="assets\images\home\avist_aprobados.png">
      </a>
      <div class="popupBody">
        <b>Felicitaciones. Aprobaste el avistamiento.</b>
        <p>El avistamiento estará disponible en la app y en la lista de avistamientos de la reserva.</p>
      </div>
      <div style="text-align: center;">
        <button type="button" style="font-size: 24px; background-color: #6b7f1b;width: 100%;" class="btn btn-success" >Continuar</button>
    </div>
    <div style="text-align: center;">
        <button type="button" style="font-size: 24px;width: 100%;color: #6b7f1b;" class="btn btn-outline-success" >Ver avistamiento en la lista</button>
    </div>
</div>