<div class="content" role="main">
    <div class="cardsContainer">
        
      <a routerLink="/avistamientos_pendientes" routerLinkActive="active" class="left" rel="noopener">
        <img class="homeImage" src="assets\images\home\avist_pendiente.png">
        <span>Avistamientos pendientes</span>
      </a>
  
      <a routerLink="/avistamientos_aprobados" routerLinkActive="active" class="center" rel="noopener">
        <img class="homeImage" src="assets\images\home\avist_aprobados.png">
        <span>Avistamientos aprobados</span>
      </a>
  
      <a routerLink="/avistamientos_reprobados" class="right" rel="noopener">
        <img class="homeImage" src="assets\images\home\avist_rechazado.png">
        <span>Avistamientos reprobados</span>
      </a>
  
    </div>
  
  </div>