/* Estilos generales */
/* Ajustar el margen superior para evitar que el contenido quede detrás del navbar */
.content {
  padding-top: 80px; /* Ajusta este valor según la altura del navbar */
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f8f9fa; /* Fondo claro para la vista */
}


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Más espacio entre las tarjetas */
  justify-content: center;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos de las tarjetas */
.card {
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px; /* Tarjetas más grandes */
  height: 400px; /* Altura fija para uniformidad */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 250px; /* Imágenes más grandes */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex-grow: 1; /* Asegura que el contenido ocupe el espacio restante */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 24px; /* Texto más grande */
  font-weight: 600;
  color: #333333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Menos espacio en móviles */
  }

  .card {
    width: 90%;
    height: auto; /* Altura automática en móviles */
  }

  .card-image {
    height: 200px; /* Imágenes más pequeñas en móviles */
  }

  .card-title {
    font-size: 20px; /* Texto más pequeño en móviles */
  }
}