<div class="toolbar" role="banner">
    <img
      width="80"
      alt="Reserva Logo"
      src="assets\navbar\reserva_icon.png" 
      routerLink="/home" routerLinkActive="active"
    />
    <p class="navbar-title" routerLink="/home" routerLinkActive="active">Reserva Santa Catalina</p>
  
    <div style="text-align: right;" class="container">
      <div style="display: inline-block;width: 400px;">
        <div class="col-md-12">
          <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" style="font-size: 20px;" class="form-control form-input" placeholder="Inicia tu búsqueda">
          </div>
        </div>
      </div>
    </div>
  
    <div class="offcanvas offcanvas-end" id="demo">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <p routerLink="/home" routerLinkActive="active">Volver al inicio</p>
        <p>Mi usuario</p>
        <p>Configuración</p>
        <a routerLink="/map" routerLinkActive="active" class="left" rel="noopener">Mapa</a>
        <p (click)="logout()">Salir de la plataforma</p>
      </div>
    </div>
  
    <div style="width: 100px; margin-right: 20px;">
      
      <span class="glyphicon glyphicon-camera" style="font-size: 25px;float: left;"></span>
      <span class="glyphicon glyphicon-align-justify" style="font-size: 25px;float: right;" data-bs-toggle="offcanvas" data-bs-target="#demo"></span>
    </div>
  
  </div> 