<div class="toolbar" role="banner">
  <!-- Logo y título -->
  <div class="logo-container">
    <img
      width="80"
      alt="Reserva Logo"
      src="assets/navbar/reserva_icon.png"
      routerLink="/home" routerLinkActive="active"
    />
    <p class="navbar-title" routerLink="/home" routerLinkActive="active">Reserva Santa Catalina</p>
  </div>

  <!-- Menú desplegable -->
  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Menú</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> Volver al inicio</p>
      <p><i class="fa fa-user"></i> Mi usuario</p>
      <p><i class="fa fa-cog"></i> Configuración</p>
      <p (click)="logout()"><i class="fa fa-sign-out"></i> Salir de la plataforma</p>
    </div>
  </div>

  <!-- Íconos de cámara y menú -->
  <div class="icons-container">
    <span class="glyphicon glyphicon-align-justify" data-bs-toggle="offcanvas" data-bs-target="#demo"></span>
  </div>
</div>