<div class="content">
  <table class="table align-middle mb-0 bg-white" >
    <thead class="bg-light">
      <tr>
        <th scope="col">Avistamiento</th>
        <th scope="col">Numero</th>
        <th scope="col">Usuario</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let avist of avistamientos">
        <td>{{avist.scientificName}}</td>
        <td>{{avist.id}}</td>
        <td>{{avist.createdBy.username}}</td>
        <td>{{avist.latitude}} - {{avist.longitude}}</td>
        <td>{{datePipe.transform(avist.createdAt, 'yyyy-MM-dd HH:mm:ss')}}</td>
        <td><span class="glyphicon glyphicon-camera" style="font-size: 25px;float: left;" [routerLink]="['/edit_avistamiento', avist.id]"></span></td>
        <td><span class="glyphicon glyphicon-trash" style="font-size: 25px;float: left;" (click)="deleteAvistamiento(avist.id)"></span></td>
      </tr>
    </tbody>
    </table>
</div>
