<router-outlet></router-outlet>
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Reserva Logo"
    src="assets\navbar\reserva_icon.png" 
  />
  <p class="navbar-title">Reserva Santa Catalina</p>

  <div style="text-align: right;" class="container">
    <div style="display: inline-block;width: 400px;">
      <div class="col-md-12">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" style="font-size: 20px;" class="form-control form-input" placeholder="Inicia tu búsqueda">
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p>Volver al inicio</p>
      <p>Mi usuario</p>
      <p>Configuración</p>
      <p>Salir de la plataforma</p>
    </div>
  </div>

  <div style="width: 100px; margin-right: 20px;">
    
    <span class="glyphicon glyphicon-camera" style="font-size: 25px;float: left;"></span>
    <span class="glyphicon glyphicon-align-justify" style="font-size: 25px;float: right;" data-bs-toggle="offcanvas" data-bs-target="#demo"></span>
  </div>

</div> 