<body class="bodylogin">
<div class="login-page">
  <div class="form">
    <form *ngIf="!showLoginForm" class="login-form">
      <input type="name" #name for="name" id="name" placeholder="Nombre"/>
      <input type="username" #username for="username" id="username" placeholder="Usuario"/>
      <input type="email" #email for="email" id="email" placeholder="Email"/>
      <input type="password" #password id="password" placeholder="Contraseña"/>
      <button (click)="register(name.value, username.value, email.value, password.value)">Crear</button>
      <p class="message">Ya registrado? <a href="#" (click)="toggleForm(); $event.preventDefault();">Ingresar</a></p>
    </form>



    <form *ngIf="showLoginForm" class="login-form" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="usernameOrEmail"
          ngModel
          placeholder="Usuario o Email"
          required
        />
      </div>
    
      <div>
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          placeholder="Contraseña"
          required
        />
      </div>
    
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      <p class="message">
        No registrado?
        <a href="#" (click)="toggleForm();  $event.preventDefault();">Crear cuenta</a>
      </p>
    </form>

  </div>
</div>
</body>

<script>
  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>